@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    position: sticky;
    top: 0;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 95px ;

}

.left img{
    height: 45px;
}

nav{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 14px;
    
}

.container{
    padding:0 10vw;
    margin: 13px 0px;
}

nav ul li{
    list-style: none;
    padding-left: 35px;
}

.section1{
    background-color: rgb(248, 247, 247);
    height: 122vh;
}

.search{
    width:20vw;
    padding:6px;
    border-radius: 7px solid grey;
}

.banners{
    width:88vw;
}
.address{
    display: flex;
    justify-content: space-between;
}